{
  box-sizing: border-box;
}


body {
  font-family: Arial;
  background-image: url('Code.jpg');
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
  background-color: white;
  border-style: groove;
  border-color: cyan;
}

@media screen and (max-width: 100px;) {}
h1 {
  font-size: 50px;
  border-radius: 10px;
  border-color: white;
  word-break: break-all;
  border-top: 4px solid orange;
}

h3 {
  border-radius: 10px;
  border-color: white;
  border-top: 4px solid orange;
  border-style: solid;
  border-width: auto;
  margin: auto;
}

.row {
  margin: 6px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 20px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
}

/* Clear floats after rows */ 
.row:after {
  display: table;
  clear: both;

}

/*Navigation link customization*/
.navi {
  border-right-color: orange;
  border-bottom-color: orange;
  border-left-color: cyan;
  border-top-color: cyan;
  font-size: 20px;
}

.navi:visited {
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: cyan;
  border-top-color: cyan;
}

/* Content */
.content {
  background-color: transparent;
  bottom: center;
}

@media screen and (max-width: 500px) {
.icon 
{
  position: relative;
  right: 17px;
}
}

@media screen and (max-width: 500px) {
.icon_home {
  position: relative;
  left: 50px;
  top: 10px;
}
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    width: 60%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.BUTTON_RFS {
   background: #8CBEF7;
   background-image: -webkit-linear-gradient(top, #8CBEF7, #0C3E8F);
   background-image: -moz-linear-gradient(top, #8CBEF7, #0C3E8F);
   background-image: -ms-linear-gradient(top, #8CBEF7, #0C3E8F);
   background-image: -o-linear-gradient(top, #8CBEF7, #0C3E8F);
   background-image: -webkit-gradient(to bottom, #8CBEF7, #0C3E8F);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   color: #FFFFFF;
   font-family: Times New Roman;
   font-size: 50px;
   font-weight: 100;
   padding: 10px;
   -webkit-box-shadow: 1px 1px 5px 0 #000000;
   -moz-box-shadow: 1px 1px 5px 0 #000000;
   box-shadow: 1px 1px 5px 0 #000000;
   text-shadow: 1px 1px 5px #FFFFFF;
   border: solid #FFFFFF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   position: relative;
   left: 1px;
   top: 3px;
}

.BUTTON_RFS:hover {
   border: solid #FFFFFF 1px;
   background: #CADBF5;
   background-image: -webkit-linear-gradient(top, #CADBF5, #577393);
   background-image: -moz-linear-gradient(top, #CADBF5, #577393);
   background-image: -ms-linear-gradient(top, #CADBF5, #577393);
   background-image: -o-linear-gradient(top, #CADBF5, #577393);
   background-image: -webkit-gradient(to bottom, #CADBF5, #577393);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   text-decoration: none;
}
