{
  box-sizing: border-box;
}


body {
  font-family: Arial;
  background-image: url('Code.jpg');
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
  background-color: white;
}

@media screen and (max-width: 100px;) {}
h1 {
  font-size: 50px;
  border-radius: auto;
  border-color: white;
  word-break: break-all;
  border-top: 4px solid #336633;
  background-color: #CCFFCC;
  border-bottom: solid #336633;
}

h3 {
  border-radius: auto;
  border-color: white;
  border-top: 4px solid #336633;
  border-style: solid;
  border-width: auto;
  margin: auto;
}

.row {
}


.row,
.row > .column {
  padding: 10px;
}


.column {
  float: left;
  width: 20%;
}


.row:after {
  display: table;
  clear: both;

}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}


.navi {
  font-size: 20px;
  background-color: #CCFFCC;
  display: inline-block;
  text-decoration: none;
  color: black;
  border: solid;
  border-color: solid #336633;

}

.navi:hover {
  background-color: lightgreen;
}


.navi:visited {
  background-color: solid #336633;
}


.content {
  padding: 10px;
}


@media screen and (max-width: 200px) {
.icon_home {
  position: relative;
  left: 50px;
}
}


@media screen and (max-width: 800px) {
  .column {
    width: 60%;
  }
}

.chip {
  display: inline-block;
  padding: 0 25px;
  margin: 10px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #AFEEEE;
}

.chip:hover {
  background: #F0F8FF;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.BUTTON_RFS {
   background: #8CBEF7;
   background-image: -webkit-linear-gradient(top, #8CBEF7, #0C3E8F);
   background-image: -moz-linear-gradient(top, #8CBEF7, #0C3E8F);
   background-image: -ms-linear-gradient(top, #8CBEF7, #0C3E8F);
   background-image: -o-linear-gradient(top, #8CBEF7, #0C3E8F);
   background-image: -webkit-gradient(to bottom, #8CBEF7, #0C3E8F);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   color: #FFFFFF;
   font-family: Times New Roman;
   font-size: 15px;
   font-weight: 100;
   padding: 1px;
   text-decoration: none;
   display: inline;
   cursor: pointer;
   text-align: center;
   position: relative;
   left: 1px;
   top: 3px;
}

.BUTTON_RFS:hover {
   background: #CADBF5;
   background-image: -webkit-linear-gradient(top, #CADBF5, #577393);
   background-image: -moz-linear-gradient(top, #CADBF5, #577393);
   background-image: -ms-linear-gradient(top, #CADBF5, #577393);
   background-image: -o-linear-gradient(top, #CADBF5, #577393);
   background-image: -webkit-gradient(to bottom, #CADBF5, #577393);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   text-decoration: none;
}
